{% extends 'base.html.twig' %}

{% block pageTitle %}a{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
        </div>
    {% endif %}

    <div class="container">

<h1 class="h3 mb-3 font-weight-normal">Connecté Vous</h1>
<label for="inputEmail">email</label>
<input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-4 mb-4" autocomplete="username" required autofocus>
<label for="inputPassword">Password</label>
<input type="password" name="password" id="inputPassword" class="form-control mt-4" autocomplete="current-password" required>
<input type="hidden" name="_csrf_token"
       value="{{ csrf_token('authenticate') }}"
>

<button class="btn btn-lg btn-primary mt-4" type="submit">
    Sign in
</button>

</div>

</form>
{% endblock %}
